{% extends 'layout.html.twig' %}
{% block body %}
<div id="content_wrapper">
  <!--page title Start-->
  <div class="page_title" data-stellar-background-ratio="0" data-stellar-vertical-offset="0" style="background-image:url(https://via.placeholder.com/1599x640);">
      <ul>
        <li><a href="javascript:;">Tour Destination</a></li>
      </ul>
    </div>
    <!--page title end-->
    <div class="clearfix"></div>
	
	<div class="full_width destinaion_sorting_section">
	  <div class="container">
	   <div class="row space_100">
<div id="confirmation" class="main_content_area">
                <div class="inner_container"> 
                  <!-- confirmation message -->
                  <div class="full_width confirmation_msg"> <span>Merci, Votre reservation est envoyée</span> </div>
                  <!-- confirmation message End--> 
                  <!--  tab inner three section Start -->
                <center>  <img src="{{ asset('client/assets1/images/test.gif')}}" alt="footer logo" /></center>
                          </div>
                           </div>
                           </div>
                           </div>
                           </div>
                           </div>
                        {%endblock%}